
@import url(https://fonts.googleapis.com/css?family=Exo:100);
@-webkit-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-webkit-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
/* Main styles */
body {
  margin-top: 13.5rem;
  color: #999;
  font: 400 16px/1.5 exo, ubuntu, "segoe ui", helvetica, arial, sans-serif;
  text-align: center;
  /* img size is 50x50 */
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC") repeat 0 0;
  -webkit-animation: bg-scrolling-reverse 0.92s infinite;
  /* Safari 4+ */
  -moz-animation: bg-scrolling-reverse 0.92s infinite;
  /* Fx 5+ */
  -o-animation: bg-scrolling-reverse 0.92s infinite;
  /* Opera 12+ */
  animation: bg-scrolling-reverse 0.92s infinite;
  /* IE 10+ */
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
}

.navigation {
    flex: 2;
    margin-left: 20px;
    font-size: large;
    margin-top: 5px;
    
}

.navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

.navigation li {
    display: inline;
}

.navigation a {
    color: rgb(242, 242, 242);
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.navigation a:hover {
    background-color: #848484; 
    color: rgba(14, 13, 13, 0.818);
}

header {
    display: flex;
    color: white;
    padding: 50px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    justify-content: space-around;
    align-items: center;
    background: #23232e;
    height: 8vh;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
}

.logo {
    flex: 0 0 auto;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 6   px;
}

.logo h1 {
    margin: 0;
    font-size: 40px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #ffffff; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: center;
}

table, th, td {
    border: 1px solid #cccccc;
    border-radius: 4px;
}

th, td {
    font-weight: 1200;
    padding: 10px;
    text-align: left;
    font-size: 24px; 
    color: #000000fc; 
}

th {
    background-color: #23232e; 
    color: #ffffff; 
}

tr:nth-child(even) {
    background-color: #f2f2f2; 
}

tr:hover {
    background-color: #e0e0e0; 
}


form input, form select, form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 1px;
  border: 1px solid #ccc;
  border-radius: 8px;
  align-items: center;
}

form button {
  padding: 10px 20px;
  background-color: #404040;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form button:hover {
  background-color: #c2c2c2;
}

.message {
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 15px;
}

.message.success {
  background-color: #d4edda;
  color: #155724;
}

.message.error {
  background-color: #f8d7da;
  color: #721c24;
}

.container {
  background-color: #f4f7fc;
  padding: 50px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgb(0, 0, 0);
  width: 100%;
  max-width: 1150px;
  margin-top: 20px;
  text-align: center;
  margin-left: 110px;
}
.container1 {
    background-color: #f4f7fc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    width: 100%;
    max-width: 900px;
    margin-top: 20px;
    text-align: center;
    font-weight: 1200;
    margin-left: 300px;
}

.container2 {
  background-color: #f4f7fc;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgb(0, 0, 0);
  width: 100%;
  max-width: 900px;
  margin-top: -90px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 1200;
  margin-left: 300px;
}
